
body {
  font-family: "Lato", sans-serif;
  color: #666;
}

.person-pic {
  transition: all 1s;
  border: 3px #696e6a solid;
}

.person-pic:hover {
  transform: scale(1.1);
}

hr {
  width: 65%;
  border-top: 4px dashed #8df2c5;
  margin: 10px auto;
}

p {
  padding-left: 3%;
}


.post-title {
  margin: 3% 2% 0 3%;

}


/************Loader********/
.loader-page {
  position: fixed;
  background-color: black;
  height: 100%;
  width: 100%;
  text-align: center;
  animation: loader-animate 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.loader-page img {
  height: auto;
  width: 74vmin;
  margin-top: 5%;
  border-color: black;
}

@keyframes loader-animate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

#root {
  visibility: hidden;
}

/*********** HEADER *********/
.logo {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  margin-left: 3%;
  margin-right: 10px;
}

.navbar {
  font-weight: 800;
  padding-right: 10px;
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-nav li {
  margin: 10px 20px;
  padding: 3px;
  color: #f4f4f4;
  display: inline-block;
}

nav button {
  color: #f4f4f4;
  font-weight: bolder;
}

.navbar-nav a {
  text-decoration: none;
}

.navbar-nav li:hover {
  transform: scale(1.2);
  box-shadow: 0 0 4px 3px white;
  border-radius: 10%;
}

header {
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 8rem 0 1rem 0;
  color: #f4f4f4;
  font-weight: bold;
  font-size: 3.5rem;
  word-wrap: break-word;
  line-height: 4rem;
}

header p:first-child {
  text-shadow: 4px 4px 7px #696e6a;
}

.quote {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  font-style: italic;
}

.menuClose,
.menuOpen {
  display: block;
  margin: 10px;
  height: 3px;
  width: 50px;
  background-color: white;
  transition: ease 0.5s;
}

.menuOpen:nth-child(1) {
  transform: translate3d(0, 10px, 0) rotateZ(45deg);
}
.menuOpen:nth-child(2) {
  opacity: 0;
}
.menuOpen:nth-child(3) {
  transform: translate3d(0, -15px, 0) rotateZ(-45deg);
}

/*********** HOME PAGE*********/
.bimg0,
.bimg1,
.bimg2,
.bimg3 {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 350px;
  opacity: 0.7;
}

.bimg0 {
  background-image: url("../images/background/tech1.jpg");
}

.bimg1 {
  background-image: url("../images/background/tech2.jpg");
}

.bimg2 {
  background-image: url("../images/background/tech3.jpg");
}

.bimg3 {
  background-image: url("../images/background/tech4.jpg");
}

.homeimg {
  height: 50%;
  width: 50%;
  box-shadow: 0px 0px 10px 3px;
}

#homepic {
  margin-top: 1rem;
  text-align: center;
}

.home-content div {
  font-size: 1.43rem;
  max-width: 500px;
  display: inline-block;
  padding: 3%;
  margin: 3% 7%;
  border: black solid 2px;
  background-color: #606364;
  box-shadow: 0 7px 7px 3px #c0c6c8;
  color: #ffffff;
}
.inc {
  font-size: 30px;
  font-weight: bold;
}
.about-content:last-child {
  margin-left: 7%;
}

.ctr {
  font-size: 3rem;
  font-weight: 200;
  color: #666;
}

.ctr:hover {
  color: #4b4f57;
}
.ctr:active {
  color: #191919;
}

.carousel-indicators {
  padding-bottom: 10px;
}

@media screen and (max-width: 1400px) {
  .home-content div {
    max-width: 100%;
  }
}
.contents {
  display: flex;
  flex-wrap: wrap;
}
