body{
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #666;
}

img{
  transition: all 1s;
}

img:hover{
  transform: scale(1.2);
}

hr{
  height: 1px;
  width: 65%;
  background-color:#666;
}

p{
  padding-left: 3%;
}

.row, .post-title{
  margin: 3% 2% 0 3%;
}


/*********** HEADER *********/
.logo{
  height: 80px;
  width: 80px;
  border-radius: 100%;
  margin-left: 3%;
}

.navbar {
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    padding-right: 10px;
    background-color: #191818;
}

.navbar-nav li{
  margin: 10px;
  color: #f4f4f4;
}

.navbar-nav li:hover{
  color: grey;
  text-decoration: underline #f4f4f4;
}

header{
  background-color: #191818;
  text-align: center;
  padding:110px 0 50px 0;
  color: #f4f4f4;
  font-weight: bold;
  font-size: 4.7rem;
  line-height: 5rem;
}

.quote{
  font-size: 2rem;
  line-height: 4rem;
}


/*********** FOOTER *********/

footer{
  bottom: 0;
  text-align: center;
  background-color: #f4f4f4;
  color:#666;
  padding: 20px 0 1px 0;
}

.icon{
  font-size: 3rem;
  padding: 2px 10px;
  color:#666;
}


/*********** HOME PAGE*********/
.bimg0 , .bimg1 , .bimg2 , .bimg3{
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 350px;
  opacity: 0.7;
}

.bimg0{
  background-image: url("../images/background/tech1.jpg");
}

.bimg1{
  background-image: url("../images/background/tech2.jpg");
}

.bimg2{
  background-image: url("../images/background/tech3.jpg");
}

.bimg3{
  background-image: url("../images/background/tech4.jpg");
}

.homeimg{
  height: 50%;
  width: 50%;
}

#homepic{
  margin-top: 1rem;
  text-align: center;
}

.about-content{
  font-size: 2rem;
}

.ctr{
  font-size: 3rem;
  font-weight: 200;
  color: #666;
}

/*********** ALUMNI PAGE *********/

.person-pic{
  border-radius: 100%;
  width: 250px;
  height: 250px;
}

.alumnus-pic{
  text-align: center;
}

.alumni-linkedin{
  float: right;
  font-size: 3rem;
}

/*********** EXECUTIVE BODY PAGE *********/

.executive-Body span{
  font-size: 1.5rem;
  display: inline-flex;
  margin-left: 2.6%;
  margin-top: 3%;
  color: red;
}

.changeMember ,.executive-Body span:hover {
  border-bottom: 2px solid red;
}

/*********** EVENTS PAGE *********/
.event-pic{
  width:80%;
  height:80%;
}

.events-pic{
  text-align: center;
}

.col-lg-4{
  text-align: center;
}

/*********** ABOUT US *********/
.what-we-do{
  padding: 10px 0 20px 3%;
  font-size: 1.5rem;
}
