body{
  font-family: "Lato", sans-serif;
  color: #666;
}

img{
  transition: all 1s;
  border: 3px #191919 solid;
}

img:hover{
  transform: scale(1.2);
}

hr{
  width: 65%;
  border-top: 4px dashed #8DF2C5;
  margin:10px auto;
}

p{
  padding-left: 3%;
}

.row, .post-title{
  margin: 3% 2% 0 3%;
}

/************Loader********/
.loader-page{
  overflow-y: hidden;
  position: fixed;
  background-color: black;
  height: 100%;
  width: 100%;
  text-align: center;
  animation: loader-animate 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.loader-page img{
  height: auto;
  width: 23rem;
  margin-top: 15%;
  border-color:black;
}

@keyframes loader-animate {
  0% { opacity: 1;}
  50%{opacity: 0.5;}
  100%{opacity: 0;height:0}
}

#root{
  visibility: hidden;
}


/*********** HEADER *********/
.logo{
  height: 80px;
  width: 80px;
  border-radius: 100%;
  margin-left: 3%;
}

.navbar {
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    padding-right: 10px;background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-nav li{
  margin: 10px;
  color: #f4f4f4;
}

nav button{
  color:#f4f4f4;
  font-weight: bolder;
}

.navbar-nav a{
  text-decoration: none;
}

.navbar-nav li:hover{
  color: lightblue;
  display: inline-block;
  border-bottom: 2px lightgreen solid;
  transform: scale(1.2);
}

header{
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding:  8rem 0 1rem 0;
  color: #f4f4f4;
  font-weight: bold;
  font-size: 4.7rem;
  line-height: 5rem;
}

.quote{
  font-size: 2rem;
  line-height: 4rem;
}

.menuClose , .menuOpen{
  display: block;
  margin: 10px;
  height: 3px;
  width: 50px;
  background-color: white;
  transition: ease .5s;
}

.menuOpen:nth-child(1){
  transform:translate3d(0,10px,0) rotateZ(45deg);
}
.menuOpen:nth-child(2){
  opacity: 0;
}
.menuOpen:nth-child(3){
  transform:translate3d(0,-15px,0) rotateZ(-45deg);
}



/*********** FOOTER *********/

footer{
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0;
  text-align: center;
  background-color: #262626;
  color:#fff;
}

footer ul li{
  display: inline-block;
  width: 5rem;
  border: 4px #fff solid;
  background-color: #fff;
  border-radius: 100%;
  font-size: 3rem;
  margin: 10px;
  position: relative;
  transition: all ease 1s;
}

footer a{
  color: #262626;
}

footer .icon{
  transition: all ease 1s;
}

footer li:hover .icon{
  color: #fff;
  transform: rotateY(360deg);
}

footer ul li:nth-child(1):hover{
  background: #0e76a8;
}

footer ul li:nth-child(2):hover{
  background: #e95950;
}

footer ul li:nth-child(3):hover{
  background: #3b5998;
}

footer ul li:nth-child(4):hover{
  background: #d44638;
}

.icon:hover{
  color: #fff;
}


/*********** HOME PAGE*********/
.bimg0 , .bimg1 , .bimg2 , .bimg3{
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 350px;
  opacity: 0.7;
}

.bimg0{
  background-image: url("../images/background/tech1.jpg");
}

.bimg1{
  background-image: url("../images/background/tech2.jpg");
}

.bimg2{
  background-image: url("../images/background/tech3.jpg");
}

.bimg3{
  background-image: url("../images/background/tech4.jpg");
}

.homeimg{
  height: 50%;
  width: 50%;
}

#homepic{
  margin-top: 1rem;
  text-align: center;
}

.about-content{
  font-size: 2rem;
}

.ctr{
  font-size: 3rem;
  font-weight: 200;
  color: #666;
}

/*********** ALUMNI PAGE *********/

.person-pic{
  border-radius: 100%;
  width: 250px;
  height: 250px;
}

.alumnus-pic{
  text-align: center;
}

.alumni-linkedin{
  float: right;
  font-size: 3rem;
}

/*********** EXECUTIVE BODY PAGE *********/

.executive-Body span{
  font-size: 1.5rem;
  display: inline-flex;
  margin-left: 2.6%;
  margin-top: 3%;
  color: #126EA4;
  font-weight: 700;
}

.post-title{
  font-weight: bold;
}

.changeMember ,.executive-Body span:hover {
  border-bottom: 2px solid #0C4D74;
}

.member-name a{
  font-size: 3rem;
}

/*********** EVENTS PAGE *********/
.event-List span{
  font-size: 1.5rem;
  display: inline-flex;
  margin-left: 2.6%;
  margin-top: 3%;
  color: #126EA4;
  font-weight: 700;
}
.changeEvent ,.event-List span:hover {
  border-bottom: 2px solid #0C4D74;
}

.event-pic{
  width:80%;
  height:80%;
}

.events-pic{
  text-align: center;
}

.col-lg-4{
  text-align: center;
}

.noEvent{
  text-align: center;
  font-size: 4.5rem;
  font-weight: bold;
  line-height: normal;
  padding-top: 2rem;
  color: #4B4F57;
}

.event-icon{
  font-size: 3rem;
  margin-right: 2rem;
  float: right;
}

.pevent-icon{
  font-size: 3rem;
  margin-right: 2rem;
}

.event-name{
  text-align: center;
  font-weight: 700;
}

/*********** ABOUT US *********/
.what-we-do{
  padding: 10px 0 20px 3%;
  font-size: 1.5rem;
}
