.person-pic{
    border-radius: 100%;
    width: 250px;
    height: 250px;
    box-shadow: 0 0 10px 3px;
}

.alumnus-pic{
    text-align: center;
    margin: 1rem 0;
}
  
.alumnus-content h4{
    text-align: left;
}
  
.alumni-linkedin{
    float: right;
    font-size: 3rem;
}

.alumni-select{
    text-align: center;
    margin: 1% 0;
    font-size: 1.3rem;
    line-height: 5px;
}

.alumni-select label{
    margin-right: 10px;
}

